clearAlertAndNotice();
<% if @answer.errors.present? %>
    <% @answer.errors.full_messages.each do |msg| %>
        $('.answer-errors').append('<%= j msg %>');
    <% end %>
    <% if flash[:alert] %>
        $('.alert').append('<%= flash[:alert] %>');
        <%= flash[:alert] = '' %>
    <% end %>
<% else %>
    <% if flash[:notice] %>
        $('.notice').append('<%= flash[:notice] %>');
        <%= flash[:notice] = '' %>
    <% end %>
    $('.main-answer #answer_body').val('');
    <% publish_to "/questions/#{@question.id}/answers" do %>
        $('.answers').append('<%= j render @answer %>');
        current_user = $(".variables").data('user-id');
        if (!current_user) {
            $(".answer-<%= @answer.id %> .answer-edit").remove();
            $(".answer-<%= @answer.id %> .answer-comment").remove();
        }
        if (current_user == <%= @question.user_id %> && current_user != <%= @answer.user_id %>) {
            $(".answer-<%= @answer.id %> .answer-edit .edit-links").remove();
            $(".answer-<%= @answer.id %> .answer-edit").prepend('<li class="best_answer"><a data-remote="true" rel="nofollow" data-method="post" href="/questions/<%= @question.id %>/answers/<%= @answer.id %>/best">Выбрать лучшим</a></li>');
        }
        if (current_user != <%= @question.user_id %> && current_user != <%= @answer.user_id %>) {
            $(".answer-<%= @answer.id %> .answer-edit").remove();
            $("#answer-like-<%= @answer.id %>").append('<li class="like"><a data-type="json" class="answer-like" data-remote="true" rel="nofollow" data-method="post" href="/votes?answer_id=<%= @answer.id %>&amp;vote=up">like</a></li>');
            $("#answer-like-<%= @answer.id %>").append('<li class="dislike"><a data-type="json" class="answer-like" data-remote="true" rel="nofollow" data-method="post" href="/votes?answer_id=<%= @answer.id %>&amp;vote=down">dislike</a></li>');
            $("#answer-like-<%= @answer.id %>").append('<li class="cancel"><a class="answer-cancel" data-type="json" data-remote="true" rel="nofollow" data-method="delete" href="/votes/1?answer_id=<%= @answer.id %>">Отменить выбор</a></li>');
        }
        questionlike();
        questionCancel();
        answerLike();
        answerCancel();
    <% end %>


<% end %>
questionlike();
questionCancel();
answerLike();
answerCancel();
questionEditLink();
answerEditLink();
addCommentAnswer();
